@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,400;1,300&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Css */
.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 26px;
  padding: 10px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow:0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
  
}

.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: 2px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-family: "roboto",sans-serif;
  letter-spacing: 3px;
  font-size: 25px !important;
}

/* FOOTER */

.footer{
  color:white;
  padding: 25px;
  background: #000000;
  background: linear-gradient(to right,#343434,#000000);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* Page Not Found */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* Register Page */
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}